<h2>Nuestro Menú</h2>

<ul class="list-unstyled">

{{#each model as |dish index|}}

  <li class="dish">

    <img src="img/dish.jpg" alt="{{dish.name}}" class="pull-left">
    <div class="pull-right"><strong>$ {{dish.price}}</strong></div>
    <div class="pull-left">
      <div class="name">{{dish.name}}</div>
      <div class="desc">{{dish.description}}</div>
      <div class="ingr">{{dish.ingredientList}}</div>
    </div>

  </li>

{{/each}}

</ul>
